# This file is generated from information provided by the datasource.  Changes
# to it will not persist across an instance reboot.  To disable cloud-init's
# network configuration capabilities, write a file
# /etc/cloud/cloud.cfg.d/99-disable-network-config.cfg with the following:
# network: {config: disabled}
network:
    ethernets:
        eth0:
            addresses:
            - 192.168.1.3/24
            gateway4: 192.168.1.1
            match:
                macaddress: {{ansible_eth0.macaddress}}
            nameservers:
                addresses:
                - 192.168.1.2
                search: []
            set-name: eth0
            routes:
                - to: 0.0.0.0/0
                  via: 192.168.1.1
                  table: 700
            routing-policy:
                - from: 192.168.1.3
                  table: 700
                  priority: 700
        eth1:
            addresses:
            - 192.168.2.3/24
            match:
                macaddress: {{ansible_eth1.macaddress}}
            nameservers:
                addresses:
                - 192.168.2.2
                search: []
            set-name: eth1
            routes:
                - to: 0.0.0.0/0
                  via: 192.168.2.1
                  table: 701
            routing-policy:
                - from: 192.168.2.3
                  table: 701
    version: 2
